<form #f="ngForm" (ngSubmit)="verifyData(f.value.newRoom)">
  <div ngModelGroup="newRoom">
    Dodaj nową salę kinową:
    <input
      id="input"
      type="number"
      name="nr"
      #nr="ngModel"
      ngModel
      required
      placeholder="Numer"
    />
    <input id="input" type="number" name="capacity" #capacity="ngModel" ngModel required placeholder="Pojemność"/>
    <button id="saveButton" type="submit">Dodaj<span
      id="saveButton"
      class="glyphicon glyphicon-ok"
      aria-hidden="true"
    ></span></button>
    <div>
      <span *ngIf="errorMessage.length!=0" style="color: red">{{errorMessage}}</span>
      <span *ngIf="nr.invalid && nr.touched && nr.errors.required" style="color: red">
        Numer sali jest wymagany!
      </span>
      <span *ngIf="capacity.invalid && capacity.touched && capacity.errors.required" style="color: red">
        Pojemność sali jest wymagana!
      </span>
    </div>
  </div>
</form>
