<form #f="ngForm" (ngSubmit)="verifyData(f.value.newRoom)">
  <div ngModelGroup="newRoom">
    Dodaj nową salę kinową:
    <input
      id="input"
      type="number"
      name="nr"
      #nr="ngModel"
      ngModel
      required
      placeholder="Numer"
    />
    <input id="input" type="number" name="capacity" #duration="ngModel" ngModel required placeholder="Pojemność"/>
    <button id="saveButton" type="submit">Dodaj<span
      id="saveButton"
      class="glyphicon glyphicon-ok"
      aria-hidden="true"
    ></span></button>
    <div *ngIf="(nr.invalid && nr.touched) || (duration.invalid && duration.touched)">
      <span *ngIf="nr.errors.required" style="color: red">
        Numer sali jest wymagany!
      </span>
      <span *ngIf="duration.errors.required" style="color: red">
        Pojemność sali jest wymagana
      </span>
    </div>
  </div>
</form>
