<form #f="ngForm" (ngSubmit)="verifyData(f.value.editedMovie)">
  <div ngModelGroup="editedMovie">
    Edytuj film:
    <input
      id="input"
      type="text"
      name="title"
      #title="ngModel"
      ngModel
      minlength="2"
      required
      placeholder="Tytuł"
    />
    <input
      id="input"
      type="number"
      name="duration"
      #duration="ngModel"
      ngModel
      required
      placeholder="Czas trwania"
    />
    <button type="submit">
      Zapisz<span
        id="saveButton"
        class="glyphicon glyphicon-ok"
        aria-hidden="true"
      ></span>
    </button>
    <div>
      <span *ngIf="errorMessage.length != 0" style="color: red">{{
        errorMessage
      }}</span>
      <span
        *ngIf="title.invalid && title.touched && title.errors.required"
        style="color: red"
        >Tytuł jest wymagany!
      </span>
      <span
        *ngIf="title.invalid && title.touched && title.errors.minlength"
        style="color: red"
      >
        Tytuł jest za krótki!
      </span>
      <span
        *ngIf="duration.invalid && duration.touched && duration.errors.required"
        style="color: red"
      >
        Należy podać czas trwania filmu!
      </span>
    </div>
  </div>
</form>
