<h3>Sale kinowe:</h3>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numer</th>
      <th scope="col">Pojemność</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row"
      *ngFor="let room of roomsList"
      [class.selected]="room === selectedRoom"
    >
      <th >{{ room.nr }}</th>
      <td>
        {{ room.capacity }}
      </td>
      <td >
        <app-delete-room (mouseenter)="onSelect(room)" (click)="onSelect(room)"
          [selected]="selectedRoom"
          (deleteRoom)="delete($event)"
        >
        </app-delete-room>
        <button (mouseenter)="onSelect(room)" (click)="onSelect(room)" (click)="showEditForm()">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<app-add-room [list]="roomsList" (addNewRoom)="add($event)"></app-add-room>
<app-edit-room *ngIf="show"
  [roomsList]="roomsList"
  [selected]="selectedRoom"
  (selectroom)="onSelect($event)"
  (editRoom)="edit($event)"
></app-edit-room>
