<form #f="ngForm" (ngSubmit)="verifyData(f.value.newMovie)">
  <div ngModelGroup="newMovie">
    Dodaj nowy film:
    <input
      id="input"
      type="text"
      name="title"
      #title="ngModel"
      ngModel
      minlength="2"
      required
      placeholder="Tytuł"
    />
    <input
      id="input"
      type="number"
      name="duration"
      #duration="ngModel"
      ngModel
      required
      placeholder="Czas trwania"
    />

    <button id="saveButton" type="submit">
      Dodaj<span
        id="saveButton"
        class="glyphicon glyphicon-ok"
        aria-hidden="true"
      ></span>
    </button>
    <div *ngIf="(title.invalid && title.touched) || (duration.invalid && duration.touched)">
      <span *ngIf="title.errors.required" style="color: red">Tytuł jest wymagany!
      </span>
      <span *ngIf="title.errors.minlength" style="color: red">
        Tytuł jest za krótki!
      </span>
      <span *ngIf="duration.errors.required" style="color: red">
        Należy podać czas trwania filmu!
      </span>
    </div>
  </div>
</form>
