<form #f="ngForm" (ngSubmit)="verifyData(f.value.editedRoom)">
  <div ngModelGroup="editedRoom">
    Edytuj pojemność sali:
    <input id="input" type="number" name="capacity" #duration="ngModel" ngModel required />
    <button type="submit">Zapisz<span id="saveButton"
      class="glyphicon glyphicon-ok"
      aria-hidden="true"></span></button>
      <div *ngIf="duration.invalid && duration.touched">
        <span *ngIf="duration.errors.required" style="color: red">
          Pojemność sali jest wymagana
        </span>
      </div>
  </div>
</form>
